body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum","PT+Sans",Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}
a {
    text-decoration: none;
}
.menu-star {
    background-color: #293449;
}
.logo {
    position: relative;
    padding: 14px 55px 10px;
    height: 20px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ee3643;
    text-align: top;
    left: 40px;
}
.menu-star form {
    position: relative;
    left: 400px;
    bottom: 30px;
}
.search, .loop {
    color: #fff;
    padding-left: 40px;
    line-height: 60px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

.bookmarks {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url(../img/icon-bookmark.svg);
}
.cart {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
}
.order {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-color: #63a63e;
    background-repeat: no-repeat;
}
.cart, .order, .bookmarks {
    position: relative;
    bottom: 70px;
    left: 900px;
    text-align: right;
    padding-top: 5px;
    padding-right: 14px;
    font-size: 17px;
    font-weight: 300;
}
.citi {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #f4f7f9;
}
.internet {
    color: #ee3643;
    margin-left: 50px;
}
.phone p {
    font-size: 21px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    color: #ee3643;
    padding-left: 25px;
}
.phone {
    position: relative;
    left: 600px;
    bottom: 70px;

}
.addres {
    position: relative;
    bottom: 60px;
    color: #32425c;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}
.enter {
    color: #000;
    text-transform: capitalize;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 21px;
}
.registration {
    color: #000;
    text-transform: capitalize;
    padding-left: 30px;
    font-size: 21px;
}
.account {
    position: relative;
    text-align: right;
    padding-right: 30px;
    bottom: 150px;
    
}
.menu-two {
    position: relative;
    bottom: 120px;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    background-color: #293449;
    text-transform: capitalize;
    font-size: 17px;
}
.menu-menu {
    padding-top: 10px;
    color: #fff;
    text-align: center;
}
.nav a {
    padding-right: 25px;
    color: #fff;
}
.shoping {
    position: relative;
    width: 930px;
    padding: 0;
    margin: 0;
    top: 310px;
}
.about {
    font-size: 30px;
    font-weight: 300;
}
.article {
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 20px;
    font-weight: 300;
}
.traffic a {
    list-style: none;
    color: #000;
}

.header  {
    padding-left: 750px;
    font-size: 30px;
    font-weight: 300;
}
.office {
    position: relative;
    left: 750px;
}
.map {
    padding-left: 750px;
}
.contacts p  {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}
.heder {
    text-transform: capitalize;
    padding-left: 20px;
    font-weight: 300;
    color: #000
}
.buttons {
    width: 100px;
    height: 40px;
    background-color: #ee3643;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #fff;
}
.email {
    position: relative;
    background-color: #ee3643;
    color: #fff;
    left: 750px;
}
.metod {
    padding-left: 750px;
}
.footer-upper {
    position: relative;
    background-color: #3d546e;
    color: #fff;
    list-style: none;
    display: flex;
}
.address {
    position: relative;
    color: #fff;
    top: 40px;
}
.footer-menu {
    position: relative;
    left: 400px;
    bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}
 .site-menu, li a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}
.upper-menu li a  {
    position: relative;
    color: #ffd180;
    font-size: 18px;
    left: 400px;
}
.footer-lower {
    position: relative;
    background-color: #33445a;
    color: #fff;
    padding-top: 30px
}
.social-buttons {
    position: relative;
    text-align: center;
    bottom: 50px;
}
.feedback {
    position: relative;
    text-align: right;
    bottom: 100px;
    right: 290px;
}
.design-copyright {
    position: relative;
    text-align: right;
    bottom: 160px;
    right: 100px;
}
.footer-upper {
    
    list-style: none;
    margin: 0px;
}
.e-mail {
    color: #ffd180;
}
.designer {
    color: #ffd180;
}
.user {
    position: relative;
    left: 900px;
    bottom: 100px;
    list-style: none;
}
.user-name {
    color: #000;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
}
.user-logout {
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    color: #000;
    padding-left: 20px;
}
.user-service a {
    position: relative;
    left: 900px;
    bottom: 100px;
    list-style: none;
    color: #32425c;
    font-size: 16px;
}


.navigation a {
    color: #000;
}
.catalog-drill  {
    display: inline-block;
    color: #000;
    border: 2px solid #f4f7f9;

}
.new a {
    color: #000;
}
.free a {
    color: #000;
}
.supply .the-akm, .network {
    color: #000;
}
.pro li{
    color: #000;
}