body {
    margin: 0;
    padding: 0;
    
    font-family: "Cuprum","PT+Sans",Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}
a {
    text-decoration: none;
}
.menu-star {
    background-color: #293449;
    
}
.logo {
    position: relative;
    padding: 14px 55px 10px;
    font-size: 24px;
    font-family: "Cuprum", sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: #ee3643;
    text-align: left;
    font-weight: 300;
}
.search, .loop {
    color: #fff;
    padding-left: 40px;
    line-height: 60px;
    text-align: center;
    padding-left: 40px;
    font-size: 17px;
    font-weight: 300;
}

.bookmarks {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url(../img/icon-bookmark.svg);
}
.cart {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-color: #ee3643;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    
}
.order {
    width: 160px;
    padding-left: 14px;
    color: #fff;
    background-color: #63a63e;
    background-repeat: no-repeat;
    margin-right: 50px;
    border-right: 50px;
    

}
.cart, .order, .bookmarks {
    text-align: right;
    padding-top: 5px;
    padding-right: 14px;
    font-size: 17px;
    font-weight: 300;
   
}
.citi {
    padding-top: 20px;
    padding-bottom: 24px;
    background-color: #f4f7f9;
}
.internet {
    color: #ee3643;
    font-size: 16px;
    font-family: "Cuprum", sans-serif;
    text-transform: capitalize;
    text-align: left;
    font-style: italic;
}
.phone p {
    font-size: 21px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    color: #ee3643;
    padding-left: 25px;
    

    
}
.addres {
    color: #32425c;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}
.enter {
    color: #000;
    text-transform: capitalize;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 21px;

}
.registration {
    color: #000;
    text-transform: capitalize;
    padding-left: 30px;
    font-size: 21px;
}
.account {
    text-align: right;
    padding-right: 30px;
    
}
.menu-two {
    color: #fff;
    background-color: #293449;
    text-transform: capitalize;
    font-size: 17px;
}
.menu-menu {
    color: #fff;
    text-align: center;
}
.nav a {
    padding-right: 25px;
}
.shoping {
    width: 930px;
    padding: 0;
    margin: 0;
    
}
.about {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 300;
    
}
.article {
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 20px;
    font-weight: 300;
    
}
.traffic, a {
    list-style: none;
    color: #000;
}
.header  {
    font-size: 30px;
    font-weight: 300;

}
.contacts, p {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;

}
.heder {
    text-transform: capitalize;
    padding-left: 20px;
    font-weight: 300;
    color: #000
}
.buttons {
    width: 100px;
    height: 40px;
    background-color: #ee3643;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #fff;
   

}
.email {
    width: 100px;
    height: 40px;
    background-color: #ee3643;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px
}
.footer-upper {
    background-color: #3d546e;
    color: #fff;
    list-style: none;
}
.address {
    color: #fff;
}
.footer-menu {
    font-size: 18px;
    font-weight: 300;
}
 .site-menu, li, a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}
.upper-menu li a  {
    color: #ffd180;
    list-style: none; 
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    

}
.footer-lower {
    background-color: #33445a;
    color: #fff;
    padding-top: 30px
}
.footer-upper  {
    list-style: none;
    margin: 0px;

}
.e-mail {
    color: #ffd180;
}
.designer {
    color: #ffd180;
}

.user-name {
    color: #000;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
   
}
.user-logout {
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    color: #000;
    padding-left: 20px;
}
.user-service a {
    color: #32425c;
    font-size: 16px;
}


.navigation a {
    color: #000;
}
.catalog-drill  {
    display: inline-block;
    color: #000;

}
.new a {
    color: #000;
}
.free a {
    color: #000;
}
.supply .the-akm, .network {
    color: #000;

}
.pro li{
    color: #000;
}